<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>User-friendly SVN</title>
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/usvn.css" />
	</head>

	<body>
		<div id="header">
			<div id="logo" class="center" onclick=location.href="/">
			</div>
		</div>
		<div id="container">
			<div id="menu" class="center">
				<ul>
					<li>
                    <a href="/"
                        id="selected" 
		 title="Home">
		<span>Home</span>
	</a>
</li>
<li>
	<a href="news.html"
		title="News">
		<span>News</span>
	</a>
</li>
<li>
	<a href="download.html"
		 title="Download">
		<span>Download</span>
	</a>
</li>
<li>
	<a href="screenshots.html"
		 title="Screenshots">
		<span>Screenshots</span>
	</a>
</li>
				</ul>
			</div>
			<div id="content-top" class="center">
				<div id="content">
                    {{page.content}}

                </div>
            </div>
			<div id="content-bottom" class="center">
			</div>
			<div id="footer" class="center">
				<ul>
					<li>
	<a href="about.html" title="About">
		<span>About</span>
	</a>
</li><li>
	<a href="links.html" title="Links">
		<span>Links</span>
	</a>
</li><li>
	<a href="contributors.html" title="Contributors">
		<span>Contributors</span>
	</a>
    </li>
    <li>
	<a href="contacts.html" title="Contacts">
		<span>Contacts</span>
	</a>
</li>					<li style="text-align: right;"><a href="http://eip.epitech.eu/"><span>USVN is an {EPITECH.} end-of-studies project</span></a></li>
				</ul>
			</div>
		</div>
		<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
		<script type="text/javascript">_uacct = "UA-70557-5"; urchinTracker(); </script>
	</body>
</html>
